.card {
  height: 100%; /* Imposta l'altezza della card al 100% della sezione */
  width: 100%;
  flex-grow: 1;
}

.card-body {
  height: 100%;
  overflow: auto;
}

.custom-table {
  border: 1px solid #dee2e6; /* bordo esterno */
}

.table th,
.table td {
  border-bottom: 1px solid #dee2e6 !important;
}

@media (max-width: 820px) {
  .table th,
  .table td {
    white-space: nowrap; /* Impedisce il testo di andare a capo nelle celle */
    overflow: hidden; /* Nasconde il contenuto in eccesso */
    text-overflow: ellipsis; /* Aggiunge "..." se il contenuto è troppo lungo */
  }
}
.custom-table th, .custom-table td {
  white-space: nowrap;
}

.custom-table th {
  width: auto;
}
