
<app-ca-navbar [showLoginButton]="false" [showCosaFareButton]="false" [showIntornoAMeButton]="false" [showSignInButton]="false"  [showHomeButton]="true" ></app-ca-navbar>

<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">

    <div class="container  h-100">
        <div class="col">
          <div class="card card-registration my-4" style="border-radius: 0px; box-shadow: -1px -1px 8px 4px #888888">
            <div class="row g-0">
              <div class="col-xl-6 ">
                <img src="../../assets/loginImg.png" 
                  alt="Sample photo" class="img-fluid"
                  style="height: 783px; " />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <div class="row">
                  
                    <div class="col-12 mb-1 d-flex justify-content-center">
                      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 text-white text-decoration-none">
                        <img src="assets/ticket.png" alt="Ticket" class="me-2" style="height: 40px; width: 40px; border-radius: 20px; background-color: #0a0610;" />
                      </a>
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="col-12 mb-1 d-flex justify-content-center">
                  <h3 class="mb-4" style="text-align: center;">Registrati</h3>
                  </div></div>

                  
                 
                  <div class="row">
                    <div class="col-md-2 mb-3"></div>
                    <div class="col-md-4 mb-3">
                      <div class="form-outline">
                        <input style="border-radius: 1px;" type="text" name="nome" [(ngModel)]="nome" required class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example1m">Nome</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="form-outline">
                        <input style="border-radius: 1px;" type="text" name="cognome" [(ngModel)]="cognome" required class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example1n">Cognome</label>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                     <div class="col-md-2 mb-3"></div>
                     <div class="col-md-4 mb-3">
                       <div class="form-outline ">
                       <input style="border-radius: 1px;" type="text"name="email" [(ngModel)]="email" required class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example8">Email</label>
                       </div>
                      </div>
                      <div class="col-md-4 mb-3">
                      <div class="form-outline">
                        <input style="border-radius: 1px;" type="text" name="appUser" [(ngModel)]="appUser" required class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example90">Nome Utente</label>
                      </div></div>
                  </div>
  
              
  
  
                  <div class="row">
                    <div class="col-md-2 mb-3"></div>
                    <div class="col-md-4 mb-3">
                      <div class="form-outline">
                        <input style="border-radius: 1px;" type="text" name="password" [(ngModel)]="password" required class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example1m">Password</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="form-outline">
                        <input style="border-radius: 1px;" type="text" name="r_password" [(ngModel)]="r_password" required class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example1n">Ripeti Password</label>
                      </div>
                    </div>
                  </div>
  

              
                  <div class="row">
                    <div class="col-md-2 mb-3"></div>
                    <div class="col-md-4 mb-3">
                  <div class="form-outline ">
                    <input style="border-radius: 1px;" type="date" name="dataNascita" [(ngModel)]="dataNascita" required class="form-control form-control-sm" />
                    <label class="form-label" for="form3Example90">Data di nascita</label>
                  </div></div>
                  <div class="col-md-4 mb-3">
                  <div class="form-outline ">
                    <input style="border-radius: 1px;" type="text" name="telefono" [(ngModel)]="telefono" required class="form-control form-control-sm" />
                    <label class="form-label" for="form3Example90">Telefono</label>
                  </div></div>
                </div>
  
               
                  <div class="row">
                    <div class="col-md-4 mb-3"></div>
                    <div class="col-md-4 mb-3">
                      <div class="form-outline">
                        <input type="text" name="indirizzo" [(ngModel)]="indirizzo" id="indirizzo" class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example97">Indirizzo locale</label>
                      </div></div></div>


                  <div class="row">
                    <div class="col-md-4 mb-3"></div>
                    <div class="col-md-4 mb-3">
                  <div class="d-md-flex justify-content-start align-items-center mb-3 py-2">
  
                    

                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" id="femaleGender" name="sesso" [(ngModel)]="sesso" value="f" />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
                  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" id="maleGender" name="sesso" [(ngModel)]="sesso" value="m" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div> </div></div>
  
                    
                     
                
    
  
                  </div>

                  <div class="col-12 mb-5 d-flex justify-content-center">
                    <a href="registrazionePromote" style="color: black;">Sei un promote ? registrati qui ...</a>
                  </div>


                  <div class="col-12 mb-1 d-flex justify-content-center">
                    <a style="border-radius: 1px;" type="button" href="/" class="btn btn-light btn-md">Home</a>
                    <button style="border-radius: 1px;" type="submit" class="btn btn-warning btn-md ms-2">Submit</button>
                  </div>
                  
  
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</form>

