

<app-ca-navbar-logged-promote></app-ca-navbar-logged-promote>
<br>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">

        <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <p class="mb-0">Nome luogo</p>
                </div>
                <div class="col-sm-5">
                  <p class="text-muted mb-0">{{nomeLuogo}}</p>
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-secondary" (click)="modifica('nomeLuogo')"><i class="fa fa-edit"></i></button>
                </div>
              </div>
              <div class="row mt-3" *ngIf="showTextAreaNomeLuogo">
                <div class="col-sm-10">
                  <textarea class="form-control" [(ngModel)]="textAreaNomeLuogo"></textarea>
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-success" (click)="salvaModifiche()">Salva</button>
                </div>
              </div>
        <hr>
        <div class="row">
          <div class="col-sm-5">
            <p class="mb-0">Descrizone</p>
          </div>
          <div class="col-sm-5">
            <p class="text-muted mb-0"> {{this.descrizione}}</p>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-secondary" (click)="modifica('descrizione')"><i class="fa fa-edit"></i></button>
          </div>
        </div>
        <div class="row mt-3" *ngIf="showTextAreaDescrizione">
            <div class="col-sm-10">
              <textarea class="form-control" [(ngModel)]="textAreaDescrizione"></textarea>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-success" (click)="salvaModifiche()">Salva</button>
            </div>
          </div>
        <hr>
        <div class="row">
          <div class="col-sm-5">
            <p class="mb-0">Indirizzo</p>
          </div>
          <div class="col-sm-5">
            <p class="text-muted mb-0">{{this.indirizzo}}</p>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-secondary" (click)="modifica('indirizzo')"><i class="fa fa-edit"></i></button>
          </div>
        </div>
        <div class="row mt-3" *ngIf="showTextAreaIndirizzo">
            <div class="col-sm-10">
              <textarea class="form-control" [(ngModel)]="textAreaIndirizzo"></textarea>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-success" (click)="salvaModifiche()">Salva</button>
            </div>
          </div>
        
        <hr>
        <div class="row">
          <div class="col-sm-5">
            <p class="mb-0">N posti</p>
          </div>
          <div class="col-sm-5">
            <p class="text-muted mb-0">{{this.posti}}</p>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-secondary" (click)="modifica('posti')"><i class="fa fa-edit"></i></button>
          </div>
        </div>
        <div class="row mt-3" *ngIf="showTextAreaPosti">
            <div class="col-sm-10">
              <textarea class="form-control" [(ngModel)]="textAreaPosti"></textarea>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-success" (click)="salvaModifiche()">Salva</button>
            </div>
          </div>
        <hr>
        <div class="row">
          <div class="col-sm-2">
            <p class="mb-0">Eventi</p>
          </div>
          <div class="col-sm-5" *ngFor="let evento of eventi">
            <div class="card mb-5">
              <div class="card-body">{{ evento.nomeEvento }}
                {{ evento.oraInizio }}
              </div>
            </div>
            

          </div>
        </div>

        
      </div>
    </div>
