<div class="card d-inline-block m-auto w-fit-content">
  <div class="card-header fw-bold sc-primary p-1" style="font-size: 12px;">
    <i class="fa-solid fa-box-archive fa-lg me-2 ml-3"></i>Archivio
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="row mx-0 mt-3 justify-content-center">
      <div
        class="spinner-border"
        role="status"
        style="width: 3rem; height: 3rem"
      ></div>
    </div>
    <div *ngIf="isLoading" class="row mx-0 mt-2 justify-content-center">
      <div class="text-center">⌛ Caricamento archivio in corso...</div>
    </div>
    <div class="row">
      <div
        *ngIf="!isLoading"
        class="col-6 d-flex justify-content-start align-items-center"
      >
        <button
          title="Aggiungi dipendente"
          class="btn btn-success btn-sm"
          (click)="isFiltersVisible = !isFiltersVisible"
        >
          {{ !isFiltersVisible ? "Apri ricerca" : "Chiudi ricerca" }}
          <i
            [ngClass]="{
              'fa-solid': true,
              'fa-magnifying-glass': !isFiltersVisible,
              'fa-xmark': isFiltersVisible,
              'ms-1': true
            }"
          ></i>
        </button>
      </div>
      <div
        *ngIf="!isLoading && saleList.length > 0"
        class="col-6 d-flex justify-content-end align-items-center"
      >
        <span
          >Elementi visualizzati: {{ (currentPage - 1) * pageSize + 1 }}-{{
            (currentPage - 1) * pageSize + saleList.length
          }}
          di {{ totalElements }}</span
        >
      </div>
    </div>
    <form
      *ngIf="!isLoading && isFiltersVisible"
      [formGroup]="filtersForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row mt-3">
        <div class="col-3">
          <label for="date" class="form-label">Data</label>
          <!-- formControlName="dataScadenzaContratto"
            autocomplete="off" -->
          <input
            type="date"
            id="date"
            name="date"
            class="form-control"
            formControlName="date"
          />
        </div>
        <div class="col-3">
          <div class="autocomplete-container">
            <label for="customer">Cliente</label>
            <input
              type="text"
              class="form-control"
              id="customer"
              formControlName="customer"
              autocomplete="off"
              (input)="onInputChange()"
            />
            <ul *ngIf="isOpen" class="suggestions">
              <li
                *ngFor="let suggestion of filteredSuggestions"
                (click)="selectSuggestion(suggestion)"
                (keydown.enter)="selectSuggestion(suggestion)"
                (mousedown)="$event.preventDefault()"
                tabindex="0"
              >
                {{ suggestion.nome }} {{ suggestion.cognome }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-3">
          <label for="operator" class="form-label">Operatore</label>
          <select
            class="form-select"
            aria-label="Default select example"
            id="operator"
            formControlName="operator"
          >
            <option *ngFor="let employee of employeeList" [value]="employee.id">
              {{ employee.nome + " " + employee.cognome }}
            </option>
          </select>
        </div>
        <div class="col-3">
          <label for="flValidity" class="form-label">Validità</label>
          <select
            class="form-select"
            aria-label="Default select example"
            id="flValidity"
            formControlName="flValidity"
          >
            <option
              *ngFor="let validity of validityList"
              [value]="validity.validityCode"
            >
              {{ validity.validityName }}
            </option>
          </select>
        </div>
      </div>
      <div class="mt-3 mb-3 text-center">
        <button
          type="button"
          class="btn btn-secondary btn-sm me-2"
          (click)="onResetFilters()"
          [disabled]="filtersForm.pristine"
        >
          Annulla
          <i class="fa-solid fa-xmark ms-1"></i>
        </button>
        <button
          type="button"
          class="btn btn-success btn-sm"
          (click)="onSubmit()"
          [disabled]="filtersForm.pristine"
        >
          Cerca
          <i class="fa-solid fa-magnifying-glass ms-1"></i>
        </button>
      </div>
    </form>
    <div class="row mt-3">
      <div class="col-12">
        <table class="table custom-table">
          <thead>
            <tr *ngIf="!isLoading">
              <th class="sc-secondary">ID Vendita</th>
              <th class="sc-secondary">Data</th>
              <th class="sc-secondary">Cliente</th>
              <th class="sc-secondary">Operatore</th>
              <th class="sc-secondary text-center">Validità</th>
              <th class="sc-secondary text-center">Azioni</th>
              <th class="sc-secondary text-center">Dettagli</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of saleList; let i = index">
              <tr
                *ngIf="!isLoading && saleList && saleList.length > 0"
                class="align-center"
              >
                <td class="align-middle">{{ item.id }}</td>
                <td class="align-middle">{{ convertDate(item.date) }}</td>
                <td class="align-middle">{{ item.customer }}</td>
                <td class="align-middle">{{ item.operator }}</td>
                <td class="align-middle text-center">
                  <i
                    *ngIf="item.flValidity === 'VALID'"
                    class="fa-solid fa-circle-check fa-xl text-success"
                    title="Vendita convalidata"
                  ></i>
                  <i
                    *ngIf="item.flValidity === 'NOT_VALID'"
                    class="fa-solid fa-circle-xmark fa-xl text-danger"
                    title="Vendita non valida"
                  ></i>
                  <i
                    *ngIf="
                      item.flValidity !== 'VALID' &&
                      item.flValidity !== 'NOT_VALID'
                    "
                    class="fa-solid fa-circle-exclamation fa-xl text-warning"
                    title="Vendita modificata"
                  ></i>
                </td>
                <td class="text-center">
                  <div *ngIf="item.flValidity !== 'NOT_VALID'">
                    <button
                      class="btn btn-outline-primary btn-sm me-2"
                      data-bs-toggle="modal"
                      data-bs-target="#editProductModal"
                      title="Modifica prodotto"
                    >
                      <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    <button
                      title="Elimina vendita"
                      class="btn btn-outline-danger me-2 btn-sm"
                      (click)="openModal('DELETE', item)"
                    >
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </div>
                </td>
                <td class="text-center">
                  <button
                    class="btn btn-sm no-animation"
                    type="button"
                    (click)="toggleDetails(i)"
                    [attr.aria-expanded]="expandedItem === i"
                    [attr.aria-controls]="'collapseExample1-' + i"
                  >
                    <i
                      *ngIf="expandedItem !== i"
                      class="fa-solid fa-angle-down fa-xl"
                      title="Vendita modificata"
                    ></i>
                    <i
                      *ngIf="expandedItem === i"
                      class="fa-solid fa-angle-up fa-xl"
                      title="Vendita modificata"
                    ></i>
                  </button>
                  <!-- <div *ngIf="item.flValidity === 'VALID'">
                      
                    </div> -->
                </td>
              </tr>
              <tr *ngIf="expandedItem === i">
                <td colspan="7" class="p-0">
                  <div
                    class="collapse show custom-collapse m-3"
                    [attr.id]="'collapseExample1-' + i"
                  >
                    <table class="table custom-table">
                      <thead>
                        <tr>
                          <th class="sc-secondary">Prodotto/Servizio</th>
                          <th class="sc-secondary">Quantità</th>
                          <th class="sc-secondary">Prezzo Unitario</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let product of item.soldProducts">
                          <td>{{ product.saleProductName }}</td>
                          <td>{{ product.saleProductQuantity }}</td>
                          <td>
                            &euro; {{ product.saleProductPrice.toFixed(2) }}
                          </td>
                        </tr>
                        <tr *ngFor="let service of item.soldServices">
                          <td>{{ service.saleServiceName }}</td>
                          <td>{{ service.saleServiceQuantity }}</td>
                          <td>
                            &euro; {{ service.saleServicePrice.toFixed(2) }}
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td class="text-end fw-bold">Totale:</td>
                          <td class="fw-bold">
                            &euro; {{ item.total.toFixed(2) }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div *ngIf="item.flValidity" class="row mt-3">
                      <div class="col-12">
                        <div class="form-floating">
                          <textarea
                            class="form-control"
                            placeholder="Leave a comment here"
                            id="floatingTextarea2"
                            style="height: 100px"
                            [(ngModel)]="item.notes"
                            disabled
                          ></textarea>
                          <label for="floatingTextarea2">Note e commenti</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
            <ng-container
              *ngIf="!isLoading && saleList && saleList.length === 0"
            >
              <tr>
                <td colspan="7">
                  <div
                    class="alert alert-warning mt-3 text-center"
                    role="alert"
                  >
                    <i class="fas fa-exclamation-triangle"></i>
                    <span class="ms-2"
                      >Nessuna vendita disponibile a sistema.</span
                    >
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <nav
          *ngIf="!isLoading && totalPages > 0"
          aria-label="Page navigation example"
        >
          <ul class="pagination justify-content-center pt-3">
            <!-- Pulsante "Precedente" -->
            <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
              <button
                class="page-link"
                (click)="navigateToPage(currentPage - 1)"
                [disabled]="currentPage === 1"
              >
                <i class="fa-solid fa-arrow-left mr-1"></i>
                Precedente
              </button>
            </li>

            <!-- Numeri di pagina -->
            <li
              *ngFor="let page of pages"
              class="page-item"
              [ngClass]="{ active: page === currentPage }"
            >
              <button
                class="page-link"
                (click)="navigateToPage(page)"
                [disabled]="currentPage === page"
              >
                {{ page }}
              </button>
            </li>

            <!-- Pulsante "Successivo" -->
            <li
              class="page-item"
              [ngClass]="{ disabled: currentPage === totalPages }"
            >
              <button
                class="page-link"
                (click)="navigateToPage(currentPage + 1)"
                [disabled]="currentPage === totalPages"
              >
                Successivo
                <i class="fa-solid fa-arrow-right ms-1"></i>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <app-sc-modal
      *ngIf="isOpenModal"
      [title]="modalTitle"
      (action)="performAction()"
      (closeModal)="closeModal()"
    >
      <div class="modal-body-content">
        <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div *ngIf="modalActionType === 'EDIT' || modalActionType === 'ADD'">
            <div class="row mt-3">
              <div class="col-6">
                <label for="employeeName" class="fw-bold form-label"
                  >Nome</label
                >
                <input
                  type="text"
                  id="employeeName"
                  class="form-control"
                  formControlName="nome"
                  autocomplete="off"
                  [ngClass]="{ 'is-invalid': submitted && f['nome'].errors }"
                />
                <div
                  *ngIf="submitted && f['nome'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['nome'].errors?.['required']">
                    Il nome è richiesto
                  </div>
                </div>
              </div>
              <div class="col-6">
                <label for="employeeSurname" class="fw-bold form-label"
                  >Cognome</label
                >
                <input
                  type="text"
                  id="employeeSurname"
                  name="employeeSurname"
                  class="form-control"
                  formControlName="cognome"
                  autocomplete="off"
                  [ngClass]="{ 'is-invalid': submitted && f['cognome'].errors }"
                />
                <div
                  *ngIf="submitted && f['cognome'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['cognome'].errors?.['required']">
                    Il nome è richiesto
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <label for="employeePhone" class="fw-bold form-label"
                  >Numero di telefono</label
                >
                <input
                  type="tel"
                  id="employeePhone"
                  name="employeePhone"
                  class="form-control"
                  pattern="(\+39|0039)?3[0-9]{9}"
                  required
                  formControlName="cellulare"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': submitted && f['cellulare'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f['cellulare'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['cellulare'].errors?.['required']">
                    Il cellulare è richiesto
                  </div>
                  <div *ngIf="f['cellulare'].errors?.['pattern']">
                    Il cellulare non è valido
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <label for="email" class="fw-bold form-label">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  formControlName="email"
                  autocomplete="off"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                />
                <div
                  *ngIf="submitted && f['email'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['email'].errors?.['required']">
                    L'email è richiesta
                  </div>
                  <div *ngIf="f['email'].errors?.['email']">
                    L'email non è valida
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <label for="dataAssunzione" class="fw-bold form-label"
                  >Data assunzione</label
                >
                <input
                  type="date"
                  id="dataAssunzione"
                  name="dataAssunzione"
                  class="form-control"
                  formControlName="dataAssunzione"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': submitted && f['dataAssunzione'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f['dataAssunzione'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['dataAssunzione'].errors?.['required']">
                    La data di assunzione è richiesta
                  </div>
                </div>
              </div>
              <div class="col-6">
                <label for="dataScadenzaContratto" class="fw-bold form-label"
                  >Data scadenza</label
                >
                <input
                  type="date"
                  id="dataScadenzaContratto"
                  name="dataScadenzaContratto"
                  class="form-control"
                  formControlName="dataScadenzaContratto"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': submitted && f['dataScadenzaContratto'].errors
                  }"
                  [min]="today"
                />
                <div
                  *ngIf="submitted && f['dataScadenzaContratto'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['dataScadenzaContratto'].errors?.['required']">
                    La data di scadenza contratto è richiesta
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form> -->
        <app-sc-alert
          [type]="'danger'"
          [isVisible]="modalActionType === 'DELETE'"
        >
          <i class="fas fa-exclamation-triangle"></i>
          <span class="ms-2"
            >Sei sicuro di voler eliminare questo dipendente?</span
          >
        </app-sc-alert>
      </div>
      <div class="modal-footer-content">
        <!-- Contenuto del footer della modale -->
        <button
          type="button"
          class="btn btn-secondary btn-sm me-2"
          (click)="closeModal()"
        >
          Annulla
        </button>
        <button
          *ngIf="modalActionType === 'EDIT' || modalActionType === 'ADD'"
          type="button"
          class="btn btn-success btn-sm"
          (click)="onSubmit()"
        >
          Salva
          <i class="fa-solid fa-save ms-1"></i>
        </button>
        <button
          *ngIf="modalActionType === 'DELETE'"
          type="button"
          class="btn btn-danger btn-sm"
          (click)="performAction()"
        >
          Cancella
          <i class="fa-solid fa-trash ms-1"></i>
        </button>
      </div>
    </app-sc-modal>
  </div>
</div>
