<div class="card d-inline-block m-auto w-fit-content">
  <div class="card-header fw-bold sc-primary">
    <i class="fa-solid fa-box-archive fa-lg me-2"></i>Archivio
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="row mx-0 mt-3 justify-content-center">
      <div
        class="spinner-border"
        role="status"
        style="width: 3rem; height: 3rem"
      ></div>
    </div>
    <div *ngIf="isLoading" class="row mx-0 mt-2 justify-content-center">
      <div class="text-center">⌛ Caricamento archivio in corso...</div>
    </div>
    <div class="row">
      <div
        *ngIf="!isLoading"
        class="col-6 d-flex justify-content-start align-items-center"
      >
        <button
          title="Aggiungi dipendente"
          class="btn btn-success btn-sm"
          (click)="isFiltersVisible = !isFiltersVisible"
        >
          {{ !isFiltersVisible ? "Apri ricerca" : "Chiudi ricerca" }}
          <i
            [ngClass]="{
              'fa-solid': true,
              'fa-magnifying-glass': !isFiltersVisible,
              'fa-xmark': isFiltersVisible,
              'ms-1': true
            }"
          ></i>
        </button>
      </div>
      <div
        *ngIf="!isLoading && saleList.length > 0"
        class="col-6 d-flex justify-content-end align-items-center"
      >
        <span
          >Elementi visualizzati: {{ (currentPage - 1) * pageSize + 1 }}-{{
            (currentPage - 1) * pageSize + saleList.length
          }}
          di {{ totalElements }}</span
        >
      </div>
    </div>
    <form
      *ngIf="!isLoading && isFiltersVisible"
      [formGroup]="filtersForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row mt-3">
        <div class="col-3">
          <label for="date" class="form-label">Data</label>
          <!-- formControlName="dataScadenzaContratto"
            autocomplete="off" -->
          <input
            type="date"
            id="date"
            name="date"
            class="form-control"
            formControlName="date"
          />
        </div>
        <div class="col-3">
          <div class="autocomplete-container">
            <label for="customer">Cliente</label>
            <input
              type="text"
              class="form-control"
              id="customer"
              formControlName="customer"
              autocomplete="off"
              (input)="onInputChange()"
            />
            <ul *ngIf="isOpen" class="suggestions">
              <li
                *ngFor="let suggestion of filteredSuggestions"
                (click)="selectSuggestion(suggestion)"
                (keydown.enter)="selectSuggestion(suggestion)"
                (mousedown)="$event.preventDefault()"
                tabindex="0"
              >
                {{ suggestion.nome }} {{ suggestion.cognome }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-3">
          <label for="operator" class="form-label">Operatore</label>
          <select
            class="form-select"
            aria-label="Default select example"
            id="operator"
            formControlName="operator"
          >
            <option *ngFor="let employee of employeeList" [value]="employee.id">
              {{ employee.nome + " " + employee.cognome }}
            </option>
          </select>
        </div>
        <div class="col-3">
          <label for="flValidity" class="form-label">Validità</label>
          <select
            class="form-select"
            aria-label="Default select example"
            id="flValidity"
            formControlName="flValidity"
          >
            <option
              *ngFor="let validity of validityList"
              [value]="validity.validityCode"
            >
              {{ validity.validityName }}
            </option>
          </select>
        </div>
      </div>
      <div class="mt-3 mb-3 text-center">
        <button
          type="button"
          class="btn btn-secondary btn-sm me-2"
          (click)="onResetFilters()"
          [disabled]="filtersForm.pristine"
        >
          Annulla
          <i class="fa-solid fa-xmark ms-1"></i>
        </button>
        <button
          type="button"
          class="btn btn-success btn-sm"
          (click)="onSubmit()"
          [disabled]="filtersForm.pristine"
        >
          Cerca
          <i class="fa-solid fa-magnifying-glass ms-1"></i>
        </button>
      </div>
    </form>
    <div class="row mt-3">
      <div class="col-12">
        <table class="table custom-table">
          <thead>
            <tr *ngIf="!isLoading">
              <th class="sc-secondary">ID Vendita</th>
              <th class="sc-secondary">Data</th>
              <th class="sc-secondary">Cliente</th>
              <th class="sc-secondary">Operatore</th>
              <th class="sc-secondary text-center">Validità</th>
              <th class="sc-secondary text-center">Azioni</th>
              <th class="sc-secondary text-center">Dettagli</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of saleList; let i = index">
              <tr
                *ngIf="!isLoading && saleList && saleList.length > 0"
                class="align-center"
              >
                <td class="align-middle">{{ item.id }}</td>
                <td class="align-middle">{{ convertDate(item.date) }}</td>
                <td class="align-middle">{{ item.customer }}</td>
                <td class="align-middle">{{ item.operator }}</td>
                <td class="align-middle text-center">
                  <i
                    *ngIf="item.flValidity === 'VALID'"
                    class="fa-solid fa-circle-check fa-xl text-success"
                    title="Vendita convalidata"
                  ></i>
                  <i
                    *ngIf="item.flValidity === 'NOT_VALID'"
                    class="fa-solid fa-circle-xmark fa-xl text-danger"
                    title="Vendita non valida"
                  ></i>
                  <i
                    *ngIf="
                      item.flValidity !== 'VALID' &&
                      item.flValidity !== 'NOT_VALID'
                    "
                    class="fa-solid fa-circle-exclamation fa-xl text-warning"
                    title="Vendita modificata"
                  ></i>
                </td>
                <td class="text-center">
                  <button
                    class="btn btn-outline-primary btn-sm me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#editProductModal"
                    title="Modifica prodotto"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button
                    class="btn btn-outline-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#editProductModal"
                    title="Elimina prodotto"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
                <td class="text-center">
                  <button
                    class="btn btn-sm no-animation"
                    type="button"
                    (click)="toggleDetails(i)"
                    [attr.aria-expanded]="expandedItem === i"
                    [attr.aria-controls]="'collapseExample1-' + i"
                  >
                    <i
                      *ngIf="expandedItem !== i"
                      class="fa-solid fa-angle-down fa-xl"
                      title="Vendita modificata"
                    ></i>
                    <i
                      *ngIf="expandedItem === i"
                      class="fa-solid fa-angle-up fa-xl"
                      title="Vendita modificata"
                    ></i>
                  </button>
                  <!-- <div *ngIf="item.flValidity === 'VALID'">
                      
                    </div> -->
                </td>
              </tr>
              <tr *ngIf="expandedItem === i">
                <td colspan="7" class="p-0">
                  <div
                    class="collapse show custom-collapse m-3"
                    [attr.id]="'collapseExample1-' + i"
                  >
                    <table class="table custom-table">
                      <thead>
                        <tr>
                          <th class="sc-secondary">Prodotto/Servizio</th>
                          <th class="sc-secondary">Quantità</th>
                          <th class="sc-secondary">Prezzo Unitario</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let product of item.soldProducts">
                          <td>{{ product.saleProductName }}</td>
                          <td>{{ product.saleProductQuantity }}</td>
                          <td>
                            &euro; {{ product.saleProductPrice.toFixed(2) }}
                          </td>
                        </tr>
                        <tr *ngFor="let service of item.soldServices">
                          <td>{{ service.saleServiceName }}</td>
                          <td>{{ service.saleServiceQuantity }}</td>
                          <td>
                            &euro; {{ service.saleServicePrice.toFixed(2) }}
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td class="text-end fw-bold">Totale:</td>
                          <td class="fw-bold">
                            &euro; {{ item.total.toFixed(2) }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div *ngIf="item.flValidity" class="row mt-3">
                      <div class="col-12">
                        <div class="form-floating">
                          <textarea
                            class="form-control"
                            placeholder="Leave a comment here"
                            id="floatingTextarea2"
                            style="height: 100px"
                            [(ngModel)]="item.notes"
                            disabled
                          ></textarea>
                          <label for="floatingTextarea2">Note e commenti</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
            <ng-container
              *ngIf="!isLoading && saleList && saleList.length === 0"
            >
              <tr>
                <td colspan="7">
                  <div
                    class="alert alert-warning mt-3 text-center"
                    role="alert"
                  >
                    <i class="fas fa-exclamation-triangle"></i>
                    <span class="ms-2"
                      >Nessuna vendita disponibile a sistema.</span
                    >
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <nav
          *ngIf="!isLoading && totalPages > 0"
          aria-label="Page navigation example"
        >
          <ul class="pagination justify-content-center pt-3">
            <!-- Pulsante "Precedente" -->
            <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
              <button
                class="page-link"
                (click)="getPreviousPage()"
                [disabled]="currentPage === 1"
              >
                <i class="fa-solid fa-arrow-left mr-1"></i>
                Precedente
              </button>
            </li>

            <!-- Numeri di pagina -->
            <li
              *ngFor="let page of pages"
              class="page-item"
              [ngClass]="{ active: page === currentPage }"
            >
              <button
                class="page-link"
                (click)="getPagesData(page)"
                [disabled]="totalPages === 1"
              >
                {{ page }}
              </button>
            </li>

            <!-- Pulsante "Successivo" -->
            <li
              class="page-item"
              [ngClass]="{ disabled: currentPage === totalPages }"
            >
              <button
                class="page-link"
                (click)="getNextPage()"
                [disabled]="currentPage === totalPages"
              >
                Successivo
                <i class="fa-solid fa-arrow-right ms-1"></i>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
