<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="../../assets/loginImg.png" 
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;height: 864px;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Registrazione</h3>
                  
                 
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" name="nome" [(ngModel)]="nome" required class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example1m">Nome</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" name="cognome" [(ngModel)]="cognome" required class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example1n">Cognome</label>
                      </div>
                    </div>
                  </div>
  
            
  
                  <div class="form-outline mb-4">
                    <input type="text"name="email" [(ngModel)]="email" required class="form-control form-control-sm" />
                    <label class="form-label" for="form3Example8">Email</label>
                  </div>
  
              
  
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" name="password" [(ngModel)]="password" required class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example1m">Password</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" name="r_password" [(ngModel)]="r_password" required class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example1n">Ripeti Password</label>
                      </div>
                    </div>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" name="appUser" [(ngModel)]="appUser" required class="form-control form-control-sm" />
                    <label class="form-label" for="form3Example90">Nome Utente</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="date" name="dataNascita" [(ngModel)]="dataNascita" required class="form-control form-control-sm" />
                    <label class="form-label" for="form3Example90">Data di nascita</label>
                  </div>
  
               
  
                  <div class="form-outline mb-4">
                    <input type="text" name="telefono" [(ngModel)]="telefono" class="form-control form-control-sm" />
                    <label class="form-label" for="form3Example97">Telefono</label>
                  </div>

                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
  
                    <h6 class="mb-0 me-4">Sesso:</h6>

                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" id="femaleGender" name="sesso" [(ngModel)]="sesso" value="f" />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
                  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" id="maleGender" name="sesso" [(ngModel)]="sesso" value="m" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                    
                     
                
    
  
                  </div>
                  <div class="col-md-12 mb-4">
                    <a href="registrazionePromote">Sei un promote ? registrati qui ...</a>
                  </div>
                  <div class="d-flex justify-content-end pt-3">
                    <button type="button" (click)="onHome()" class="btn btn-light btn-md">Home</button>
                    <button type="submit" class="btn btn-warning btn-md ms-2">Submit form</button>
                  </div>
                  
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>