<div class="section">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title fw-bold">Gestione del magazzino</h3>
      <p class="card-text pt-3">
        Scannerizza il Codice a barre del prodotto e aggiungilo al magazzino.
      </p>
      <div class="container">
        <!-- For camera -->
        <ngx-scanner-qrcode
          #action="scanner"
          [config]="config"
          (event)="onEvent($event, action)"
        ></ngx-scanner-qrcode>

        <!-- data  -->
        <div class="row mt-3">
          <div *ngIf="(action.data | async)?.[0]?.value" class="col-6">
            <!-- <span class="badge bg-warning fs-6">{{ productName }}</span> -->
            <p class="data">Codice: {{ (action.data | async)?.[0]?.value }}</p>
          </div>
          <div class="col-3">
            <div *ngIf="productName" class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Nome prodotto</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
              />
            </div>
          </div>
          <div class="col-3">
            <div *ngIf="productName" class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Quantità</span
              >
              <input
                type="number"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
              />
            </div>
          </div>
        </div>

        <!-- <div class="alert alert-primary text-center" role="alert">
          {{ productName }}
        </div>

        <div class="card text-center">
          <div class="card-body">
            <span class="card-text">{{ productName }}</span>
          </div>
        </div> -->

        <!-- Loading -->

        <div
          class="mt-3 text-center d-flex justify-content-center align-items-center"
        >
          <p *ngIf="action.isLoading">⌛ Caricamento in corso...</p>
        </div>

        <!-- start -->
        <div class="text-center">
          <button
            type="button"
            class="btn"
            [class.btn-dark]="!action.isStart"
            [class.btn-warning]="action.isStart"
            [disabled]="action.isLoading"
            (click)="handle(action, action.isStart ? 'stop' : 'start')"
          >
            <img
              [src]="
                action.isStart
                  ? 'https://id1945.github.io/images/svg/camera-off.svg'
                  : 'https://id1945.github.io/images/svg/camera-on.svg'
              "
              width="30px"
              [class.btn-white]="action.isStart"
              style="filter: brightness(0) invert(1)"
            />
          </button>
        </div>
      </div>
      <div *ngIf="productName && !action.isLoading" class="mt-3 text-center">
        <button type="button" class="btn btn-warning">Aggiungi</button>
      </div>
      <!-- <div class="row">
        <div class="col-12">
          <table class="table table-responsive align-middle">
            <thead>
              <tr>
                <th scope="col">{{ tableHeader.id }}</th>
                <th scope="col">{{ tableHeader.data }}</th>
                <th scope="col">{{ tableHeader.rating }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ operation.id }}</th>
                <td>
                  {{ convertDate(operation.data) + " - " + operation.time }}
                </td>
                <td>{{ operation.dynamic }}</td>
                <!-- <td>{{ operation.result }}</td> -->
                <td class="text-center">
                  <i
                    v-if="operation.result == 'Target'"
                    class="bi bi-check-circle-fill fs-3 text-success"
                  ></i>
                  <i
                    v-if="operation.result == 'Stop'"
                    class="bi bi-x-circle-fill fs-3 text-danger"
                  ></i>
                </td>
                <td class="text-center">{{ operation.targetPoints }}</td>
                <td class="text-center">{{ operation.stopPoints }}</td>
                <td class="text-center">{{ operation.riskReturn }}</td>
                <!-- operation.target -->
                <!-- <td>{{}}</td> -->
                <td>
                  <button
                    type="button"
                    class="mx-1 btn btn-outline-primary"
                    @click="goToEdit(operation.id)"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </td>
                <td>
                  <button
                    type="button"
                    class="mx-1 btn btn-outline-danger"
                    @click="deleteOperation(operation.id)"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
                <td>
                  <button
                    type="button"
                    class="mx-1 btn btn-outline-success"
                    @click="goToDetails(operation.id)"
                  >
                    <i class="bi bi-arrow-right"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->
    </div>
  </div>
</div>
