.section {
  padding-left: 280px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  height: 100vh; /* Imposta l'altezza della sezione al 100% della finestra */
  display: flex;
}

.card {
  height: 100%; /* Imposta l'altezza della card al 100% della sezione */
  width: 100%;
  flex-grow: 1;
}

.card-body {
  height: 100%;
  overflow: auto;
}

.custom-modal-header {
  background-color: #c6e9f9;
  color: #000; /* Colore del testo nero */
}

@media (max-width: 820px) {
  .table th,
  .table td {
    white-space: nowrap; /* Impedisce il testo di andare a capo nelle celle */
    overflow: hidden; /* Nasconde il contenuto in eccesso */
    text-overflow: ellipsis; /* Aggiunge "..." se il contenuto è troppo lungo */
  }
}


