


<header class="p-3 text-bg-dark" style="margin-bottom: -1rem;">
  <div class="row">

    <div class="col-4 d-flex align-items-center">
      <div>
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="assets/ticket.png" alt="Ticket" class="me-2" style="height: 40px; width: 40px;"/> <!-- Percorso immagine aggiunto qui -->
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
      </div>
      <div>        <span class="custom-text">Around</span>

      </div>
    </div>
  <div class="col-7 ">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a  class="nav-link px-2 text-secondary">Eventi</a></li>
        <li><a href="#" * class="nav-link px-2 text-white">Storico</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Stats</a></li>
        <li><a href="#" class="nav-link px-2 text-white"></a></li>
        <li><a href="#" class="nav-link px-2 text-white"></a></li>
      </ul>
        </div>

    
        <div class="col-1 ">
        <div class="dropdown ">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small ">
            <li><a class="dropdown-item" href="/gestisciAttavitaPromote">Gestisci Attivita'</a></li>
            <li><a class="dropdown-item" href="#">Impostazioni</a></li>
            <li><a class="dropdown-item" href="#">Profilo</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"  (click)="onLogout()" >Sign out</a></li>
          </ul>
        </div>
        </div>
      </div>
    
  </header>

  
    