<nav class="sidebar locked sc-primary">
  <div class="logo_items flex">
    <span class="nav_image">
      <img src="assets/SmartControl_logo.jpg" alt="logo_img" />
    </span>
    <span class="logo_name">Smart Control</span>
  </div>
  <div class="menu_container">
    <div class="menu_items">
      <ul class="menu_item">
        <div class="menu_title flex">
          <span class="title fw-bold">Magazzino</span>
          <span class="line"></span>
        </div>
        <li class="item">
          <a href="/home/overview" class="link flex">
            <i class="bx bxs-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="item">
          <a href="/home/scanaggiungi" class="link flex">
            <i class="bx bx-barcode-reader"></i>
            <span>Scan e Magazzino</span>
          </a>
        </li>
      </ul>
      <ul class="menu_item">
        <div class="menu_title flex">
          <span class="title fw-bold">Appuntamenti</span>
          <span class="line"></span>
        </div>
        <li class="item">
          <a href="/home/calendario" class="link flex">
            <i class="bx bxs-calendar"></i>
            <span>Agenda</span>
          </a>
        </li>
      </ul>
      <ul class="menu_item">
        <div class="menu_title flex">
          <span class="title fw-bold">Vendite</span>
          <span class="line"></span>
        </div>
        <li class="item">
          <a href="/home/chest" class="link flex">
            <i class="bx bxs-receipt"></i>
            <span>Cassa</span>
          </a>
        </li>
        <li class="item">
          <a href="/home/register" class="link flex">
            <i class="bx bxs-archive"></i>
            <span>Registro</span>
          </a>
        </li>
      </ul>
      <ul class="menu_item">
        <div class="menu_title flex">
          <span class="title fw-bold">Statistiche</span>
          <span class="line"></span>
        </div>
        <li class="item">
          <a href="#" class="link flex">
            <i class="bx bxs-flag"></i>
            <span>Notice Board</span>
          </a>
        </li>
        <li class="item">
          <a href="#" class="link flex">
            <i class="bx bxs-award"></i>
            <span>Award</span>
          </a>
        </li>
        <li class="item">
          <a href="#" class="link flex">
            <i class="bx bxs-cog"></i>
            <span>Setting</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sidebar_profile flex">
      <!-- <span class="nav_image">
            <img src="images/profile.jpg" alt="logo_img" />
          </span> -->
      <div class="data_text">
        <span class="name" style="display: block">Mr. Smooth Vigne</span>
        <span class="email" style="display: block">mrsmooth@gmail.com</span>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar -->
<div class="content">
  <router-outlet></router-outlet>
</div>
