.accordion-button:focus {
  box-shadow: none !important; /* Rimuove l'ombra */
}
/* Stile generale per la barra breadcrumb */
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    margin-bottom: 0rem;
    list-style: none;
    background-color: white;
    border-radius: 0.375rem;
}

.no-arrow::after {
  display: none !important;
}
/* Cambia il colore della freccia degli accordion */
.accordion-button::after {
  color: white;

  filter: invert(1);
}
.accordion-collapse {
  transition: height 0.3s ease; /* Tempo di animazione */
}
