<div class="card d-inline-block m-auto w-fit-content">
  <div class="card-header fw-bold sc-primary">
    <i class="fa-solid fa-book fa-lg me-2"></i>Registro vendite
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="row mx-0 mt-3 justify-content-center">
      <div
        class="spinner-border"
        role="status"
        style="width: 3rem; height: 3rem"
      ></div>
    </div>
    <div *ngIf="isLoading" class="row mx-0 mt-2 justify-content-center">
      <div class="text-center">⌛ Caricamento registro vendite in corso...</div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <table
          *ngIf="!isLoading && saleList && saleList.length > 0"
          class="table custom-table"
        >
          <thead>
            <tr>
              <th class="sc-secondary">ID Vendita</th>
              <th class="sc-secondary">Data</th>
              <th class="sc-secondary">Cliente</th>
              <th class="sc-secondary">Operatore</th>
              <th class="sc-secondary text-center">Validità</th>
              <th class="sc-secondary text-center">Azioni</th>
              <th class="sc-secondary text-center">Dettagli</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of saleList; let i = index">
              <tr class="align-center">
                <td class="align-middle">{{ item.id }}</td>
                <td class="align-middle">{{ convertDate(item.date) }}</td>
                <td class="align-middle">Mario Rossi</td>
                <td class="align-middle">{{ item.operator }}</td>
                <td class="align-middle text-center">
                  <i
                    *ngIf="item.flValidity === 'VALID'"
                    class="fa-solid fa-circle-check fa-xl text-success"
                    title="Vendita convalidata"
                  ></i>
                  <i
                    *ngIf="item.flValidity === 'NOT_VALID'"
                    class="fa-solid fa-circle-xmark fa-xl text-danger"
                    title="Vendita non valida"
                  ></i>
                  <i
                    *ngIf="
                      item.flValidity !== 'VALID' &&
                      item.flValidity !== 'NOT_VALID'
                    "
                    class="fa-solid fa-circle-exclamation fa-xl text-warning"
                    title="Vendita modificata"
                  ></i>
                </td>
                <td class="text-center">
                  <button
                    class="btn btn-outline-primary btn-sm me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#editProductModal"
                    title="Modifica prodotto"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button
                    class="btn btn-outline-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#editProductModal"
                    title="Elimina prodotto"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
                <td class="text-center">
                  <button
                    class="btn btn-sm no-animation"
                    type="button"
                    (click)="toggleDetails(i)"
                    [attr.aria-expanded]="expandedItem === i"
                    [attr.aria-controls]="'collapseExample1-' + i"
                  >
                    <i
                      *ngIf="expandedItem !== i"
                      class="fa-solid fa-angle-down fa-xl"
                      title="Vendita modificata"
                    ></i>
                    <i
                      *ngIf="expandedItem === i"
                      class="fa-solid fa-angle-up fa-xl"
                      title="Vendita modificata"
                    ></i>
                  </button>
                  <!-- <div *ngIf="item.flValidity === 'VALID'">
                    
                  </div> -->
                </td>
              </tr>
              <tr *ngIf="expandedItem === i">
                <td colspan="7" class="p-0">
                  <div
                    class="collapse show custom-collapse m-3"
                    [attr.id]="'collapseExample1-' + i"
                  >
                    <table class="table custom-table">
                      <thead>
                        <tr>
                          <th class="sc-secondary">Prodotto/Servizio</th>
                          <th class="sc-secondary">Quantità</th>
                          <th class="sc-secondary">Prezzo Unitario</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let product of item.soldProducts">
                          <td>{{ product.saleProductName }}</td>
                          <td>{{ product.saleProductQuantity }}</td>
                          <td>
                            &euro; {{ product.saleProductPrice.toFixed(2) }}
                          </td>
                        </tr>
                        <tr *ngFor="let service of item.soldServices">
                          <td>{{ service.saleServiceName }}</td>
                          <td>{{ service.saleServiceQuantity }}</td>
                          <td>
                            &euro; {{ service.saleServicePrice.toFixed(2) }}
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td class="text-end fw-bold">Totale:</td>
                          <td class="fw-bold">
                            &euro; {{ item.total.toFixed(2) }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div *ngIf="item.flValidity !== 'VALID'" class="row mt-3">
                      <div class="col-12">
                        <div class="form-floating">
                          <textarea
                            class="form-control"
                            placeholder="Leave a comment here"
                            id="floatingTextarea2"
                            style="height: 100px"
                            [(ngModel)]="item.notes"
                            disabled
                          ></textarea>
                          <label for="floatingTextarea2">Note e commenti</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
