<div class="card d-inline-block m-auto w-fit-content">
  <div class="card-header fw-bold sc-primary p-1" style="font-size: 12px;">
    <i class="fa-solid fa-warehouse fa-lg me-2 ml-3"></i>Sommario magazzino
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="row mx-0 mt-3 justify-content-center">
      <div
        class="spinner-border"
        role="status"
        style="width: 3rem; height: 3rem"
      ></div>
    </div>
    <div *ngIf="isLoading" class="row mx-0 mt-2 justify-content-center">
      <div class="text-center">
        ⌛ Caricamento sommario magazzino in corso...
      </div>
    </div>
    <div
      *ngIf="!isLoading && dataSource.length > 0"
      class="d-flex justify-content-end align-items-center mb-3 mt-3"
    >
      <span
        >Elementi visualizzati: {{ (currentPage - 1) * pageSize + 1 }}-{{
          (currentPage - 1) * pageSize + dataSource.length
        }}
        di {{ totalElements }}</span
      >
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <table class="table custom-table">
          <thead>
            <tr *ngIf="!isLoading">
              <th class="sc-secondary">Codice Prodotto</th>
              <th class="sc-secondary">Nome Prodotto</th>
              <th class="sc-secondary">Prezzo</th>
              <th class="sc-secondary">Quantità</th>
              <th class="sc-secondary"></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of dataSource">
              <tr *ngIf="!isLoading && dataSource && dataSource.length > 0">
                <td class="align-middle">{{ item.id }}</td>
                <td class="align-middle">{{ item.nomeProdotto }}</td>
                <td class="align-middle">
                  &euro; {{ item.prezzo.toFixed(2) }}
                </td>
                <td class="align-middle">{{ item.quantita }} pz</td>

                <td class="align-middle text-end">
                  <button
                    class="btn btn-outline-primary me-2 btn-sm"
                    (click)="openModal('EDIT', item)"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button
                    title="Elimina prodotto"
                    class="btn btn-outline-danger me-2 btn-sm"
                    (click)="openModal('DELETE', item)"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                  <!-- (click)="openDeleteModal(item)" -->
                  <!-- <button
                    title="Elimina prodotto"
                    class="btn btn-outline-success btn-sm"
                    
                  >
                    <i class="fa-solid fa-arrow-right"></i>
                  </button> -->
                </td>
              </tr>
            </ng-container>
            <ng-container
              *ngIf="!isLoading && dataSource && dataSource.length === 0"
            >
              <tr>
                <td colspan="6">
                  <div
                    class="alert alert-warning mt-3 text-center"
                    role="alert"
                  >
                    <i class="fas fa-exclamation-triangle"></i>
                    <span class="ms-2"
                      >Nessun servizio disponibile a sistema.</span
                    >
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <nav
          *ngIf="!isLoading && totalPages > 0"
          aria-label="Page navigation example"
        >
          <ul class="pagination justify-content-center pt-3">
            <!-- Pulsante "Precedente" -->
            <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
              <button
                class="page-link"
                (click)="getPreviousPage()"
                [disabled]="currentPage === 1"
              >
                <i class="fa-solid fa-arrow-left mr-1"></i>
                Precedente
              </button>
            </li>

            <!-- Numeri di pagina -->
            <li
              *ngFor="let page of pages"
              class="page-item"
              [ngClass]="{ active: page === currentPage }"
            >
              <button class="page-link" (click)="getPagesData(page)">
                {{ page }}
              </button>
            </li>

            <!-- Pulsante "Successivo" -->
            <li
              class="page-item"
              [ngClass]="{ disabled: currentPage === totalPages }"
            >
              <button
                class="page-link"
                (click)="getNextPage()"
                [disabled]="currentPage === totalPages"
              >
                Successivo
                <i class="fa-solid fa-arrow-right ms-1"></i>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <app-sc-modal
      *ngIf="isOpen"
      [title]="modalTitle"
      (action)="performAction()"
      (closeModal)="closeModal()"
    >
      <div class="modal-body-content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div *ngIf="modalActionType === 'EDIT' || modalActionType === 'ADD'">
            <div class="row mt-3">
              <div class="col-6">
                <label for="employeeName" class="fw-bold form-label"
                  >Nome Prodotto</label
                >
                <input
                  type="text"
                  id="employeeName"
                  class="form-control"
                  formControlName="nomeProdotto"
                  [ngClass]="{ 'is-invalid': submitted && f['nome'].errors }"
                />
                <div
                  *ngIf="submitted && f['nome'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['nome'].errors?.['required']">
                    Il nome è richiesto
                  </div>
                </div>
              </div>
              <div class="col-6">
                <label for="employeeSurname" class="fw-bold form-label"
                  >Prezzo</label
                >
                <input
                  type="number"
                  id="employeeSurname"
                  name="employeeSurname"
                  class="form-control"
                  formControlName="prezzo"
                  [ngClass]="{ 'is-invalid': submitted && f['cognome'].errors }"
                />
                <div
                  *ngIf="submitted && f['cognome'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['cognome'].errors?.['required']">
                    Il nome è richiesto
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <label for="employeePhone" class="fw-bold form-label">
                  Quantità</label
                >
                <input
                  type="number"
                  id="employeePhone"
                  class="form-control"
                  formControlName="quantita"
                  [ngClass]="{
                    'is-invalid': submitted && f['cellulare'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f['cellulare'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['cellulare'].errors?.['required']">
                    Il cellulare è richiesto
                  </div>
                  <div *ngIf="f['cellulare'].errors?.['pattern']">
                    Il cellulare non è valido
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div
          *ngIf="modalActionType === 'DELETE'"
          class="alert alert-danger mt-3"
          role="alert"
        >
          <i class="fas fa-exclamation-triangle"></i>
          <!-- Icona di avviso -->
          <span class="ms-2"
            >Sei sicuro di voler eliminare questo dipendente?</span
          >
        </div>
      </div>
      <div class="modal-footer-content">
        <!-- Contenuto del footer della modale -->
        <button
          type="button"
          class="btn btn-secondary btn-sm me-2"
          (click)="closeModal()"
        >
          Annulla
        </button>
        <button
          *ngIf="modalActionType === 'EDIT' || modalActionType === 'ADD'"
          type="button"
          class="btn btn-success btn-sm"
          (click)="onSubmit()"
        >
          Salva
          <i class="fa-solid fa-save ms-1"></i>
        </button>
        <button
          *ngIf="modalActionType === 'DELETE'"
          type="button"
          class="btn btn-danger btn-sm"
          (click)="onSubmit()"
        >
          Cancella
          <i class="fa-solid fa-trash ms-1"></i>
        </button>
      </div>
    </app-sc-modal>
  </div>
</div>
