<div class="card d-inline-block m-auto w-fit-content">
  <div class="card-body">
    <h3 class="card-title fw-bold">Cassa</h3>
    <!-- <div class="alert sc-primary d-flex align-items-center mt-4" role="alert">
      <i
        class="bx bx-info-circle align-middle me-2"
        style="font-size: 30px"
      ></i>
      <div>Scannerizza il Codice a barre del prodotto che devi vendere.</div>
    </div> -->
    <!-- <div class="container">
      <div class="row">
        <div class="col-6">
          <ngx-scanner-qrcode
            #action="scanner"
            [config]="config"
            (event)="onEvent($event, action)"
          ></ngx-scanner-qrcode>
        </div>
        <div
          class="col-6 d-flex flex-column justify-content-center align-items-center"
        >
          <div class="text-center d-flex flex-column justify-content-center">
            <button
              type="button"
              class="btn"
              [class.btn-dark]="!action.isStart"
              [class.btn-warning]="action.isStart"
              [disabled]="action.isLoading"
              (click)="handle(action, action.isStart ? 'stop' : 'start')"
            >
              <img
                [src]="
                  action.isStart
                    ? 'https://id1945.github.io/images/svg/camera-off.svg'
                    : 'https://id1945.github.io/images/svg/camera-on.svg'
                "
                alt="Camera Icon"
                width="30px"
                [class.btn-white]="action.isStart"
                style="filter: brightness(0) invert(1)"
              />
            </button>
          </div>
          <div class="text-center d-flex justify-content-center mt-2">
            <p *ngIf="action.isLoading">⌛ Caricamento in corso...</p>
          </div>
        </div>
      </div>
    </div> -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row mt-5">
        <div class="col-3">
          <label for="operator" class="fw-bold form-label">Operatore</label>
          <select
            class="form-select"
            aria-label="Default select example"
            id="operator"
            formControlName="operator"
            [ngClass]="{ 'is-invalid': submitted && f['operator'].errors }"
          >
            <option *ngFor="let employee of employeeList" [value]="employee.id">
              {{ employee.nome + " " + employee.cognome }}
            </option>
          </select>
          <div
            *ngIf="submitted && f['operator'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['operator'].errors?.['required']">
              Campo obbligatorio
            </div>
          </div>
        </div>
        <div class="col-6 d-flex align-items-end">
          <button
          type="button"
          class="btn sc-primary btn-sm me-3"
          (click)="checkOperator('PRODUCT')"
        >
          Aggiungi prodotto
        </button>
        <button
          type="button"
          class="btn sc-primary btn-sm"
          (click)="checkOperator('SERVICE')"
        >
          Aggiungi servizio
        </button>
        </div>
      </div>
      <div *ngIf="articleType === 'PRODUCT'" class="mt-5 row">
        <div class="col-3">
          <label for="productName" class="fw-bold form-label"
            >Prodotto</label
          >
          <select
            class="form-select"
            aria-label="Default select example"
            id="productName"
            formControlName="productName"
            (change)="onProductChange($event)"
            [ngClass]="{ 'is-invalid': submitted && f['productName'].errors }"
          >
            <option *ngFor="let product of productList" [value]="product.nomeProdotto">
              {{ product.nomeProdotto }}
            </option>
          </select>
          <div
            *ngIf="submitted && f['productName'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['productName'].errors?.['required']">
              Campo obbligatorio
            </div>
          </div>
        </div>
        <div class="col-3 col-md-6 col-xl-3">
          <label for="productPrice" class="fw-bold form-label">Prezzo</label>
          <input
            type="number"
            id="productPrice"
            name="productPrice"
            class="form-control"
            formControlName="productPrice"
            [ngClass]="{ 'is-invalid': submitted && f['productPrice'].errors }"
          />
          <div
            *ngIf="submitted && f['productPrice'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['productPrice'].errors?.['required']">
              Campo obbligatorio
            </div>
          </div>
        </div>
        <div class="col-3">
          <label for="productQuantity" class="fw-bold form-label">Quantità</label>
          <input
            type="number"
            id="productQuantity"
            name="quantity"
            class="form-control"
            formControlName="productQuantity"
          />
        </div>
        <div class="col-2 d-flex align-items-end">
          <button type="button" class="btn sc-primary btn-sm" (click)="onSubmit()">
            Aggiungi
          </button>
        </div>
      </div>
      <div *ngIf="articleType === 'SERVICE'" class="mt-5 row">
        <div class="col-3">
          <label for="service" class="fw-bold form-label"
            >Servizio effettuato</label
          >
          <select
            class="form-select"
            aria-label="Default select example"
            id="service"
            formControlName="service"
            (change)="onServiceChange($event)"
            [ngClass]="{ 'is-invalid': submitted && f['service'].errors }"
          >
            <option *ngFor="let service of serviceList" [value]="service.serviceName">
              {{ service.serviceName }}
            </option>
          </select>
          <div
            *ngIf="submitted && f['service'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['service'].errors?.['required']">
              Campo obbligatorio
            </div>
          </div>
        </div>
        <div class="col-3 col-md-6 col-xl-3">
          <label for="servicePrice" class="fw-bold form-label">Prezzo</label>
          <input
            type="number"
            id="servicePrice"
            name="servicePrice"
            class="form-control"
            formControlName="servicePrice"
            [ngClass]="{ 'is-invalid': submitted && f['servicePrice'].errors }"
          />
          <div
            *ngIf="submitted && f['servicePrice'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['servicePrice'].errors?.['required']">
              Campo obbligatorio
            </div>
          </div>
        </div>
        <div class="col-3 col-md-6 col-xl-3">
          <label for="serviceQuantity" class="fw-bold form-label">Quantità</label>
          <input
            type="number"
            id="serviceQuantity"
            name="serviceQuantity"
            class="form-control"
            formControlName="serviceQuantity"
            [ngClass]="{ 'is-invalid': submitted && f['serviceQuantity'].errors }"
          />
          <div
            *ngIf="submitted && f['serviceQuantity'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['serviceQuantity'].errors?.['required']">
              Campo obbligatorio
            </div>
          </div>
        </div>
        <div class="col-2 d-flex align-items-end">
          <button type="button" class="btn sc-primary btn-sm" (click)="onSubmit()">
            Aggiungi
          </button>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
          <table *ngIf="salesReceipt && salesReceipt.length > 0" class="table custom-table">
            <thead>
              <tr>
                <th class="sc-secondary">Articolo</th>
                <th class="sc-secondary">Quantità</th>
                <th class="sc-secondary">Prezzo</th>
                <th class="sc-secondary"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of salesReceipt">
                <tr>
                  <td class="align-middle">{{ item.article }}</td>
                  <td class="align-middle">{{ item.articleQuantity }}</td>
                  <td class="align-middle">&euro; {{ item.articlePrice }}</td>
                  <td class="align-middle text-end">
                    <!-- (click)="openModal('DELETE', item)" -->
                    <button
                      title="Elimina prodotto"
                      class="btn btn-outline-danger me-2 btn-sm"
                    >
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="salesReceipt && salesReceipt.length > 0" class="row mt-3">
        <div class="col-12 d-flex justify-content-center">
          <p class="fw-bold">Totale: &euro; {{ calculateTotal() }}</p>
        </div>
      </div>
      <div class="mt-3 mb-3 text-center">
        <button
          type="button"
          class="btn btn-success btn-sm"
          [disabled]="salesReceipt && salesReceipt.length === 0"
          (click)="registerNewSale()"
        >
          Registra Vendita
        </button>
      </div>
    </form>
  </div>
</div>
