.card {
  height: 100%; /* Imposta l'altezza della card al 100% della sezione */
  width: 100%;
  flex-grow: 1;
}

.card-body {
  height: 100%;
  overflow: auto;
}

.card-header {
  padding: 8px;
}

.custom-table {
  border: 1px solid #dee2e6; /* bordo esterno */
}

.table th,
.table td {
  border-bottom: 1px solid #dee2e6 !important;
}

.autocomplete-container {
  position: relative; /* Per posizionare la lista dei suggerimenti rispetto a questo contenitore */
}

.suggestions {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  margin: 0;
  position: absolute; /* Posizionamento assoluto rispetto al contenitore */
  top: 100%; /* Posiziona la lista subito sotto l'input */
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000; /* Assicura che la lista sia sopra gli altri contenuti */
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}