
<app-ca-navbar-logged-promote></app-ca-navbar-logged-promote>
<br>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-body">
        <div class="sidebar">
          <h4>Filtri</h4>
          <hr>
          <form>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="eventi-discoteca">
                <label class="form-check-label" for="eventi-discoteca">
                  Eventi Discoteca
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="eventi-locale">
                <label class="form-check-label" for="eventi-locale">
                  Eventi Locale
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="eventi-museo">
                <label class="form-check-label" for="eventi-museo">
                  Eventi Museo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="eventi-pub">
                <label class="form-check-label" for="eventi-pub">
                  Eventi Pub
                </label>
              </div>
            </div>
          </form>
        </div>
            </div></div>
      </div>
      <div class="col-md-9">
        <app-google-map></app-google-map>
      </div>
    </div>
  </div>
  
