  <div class="card d-inline-block  w-fit-content  mt-1" >
    <div class="card-body">
  
      <div class="container-fluid">
        <div class="row mb-3">
          <div class="col-md-3">
            <div class="card-counter primary">
              <i class="fa-solid fa-user" style="color: #ff829d"></i>
              <span class="count-numbers">{{ employeesCounter }}</span>
              <span class="count-name">Dipendenti</span>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card-counter danger">
              <i class="fa-solid fa-scissors" style="color: #ffd878"></i>
              <span class="count-numbers">{{ eventsCounter }}</span>
              <span class="count-name">Tagli</span>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card-counter success">
              <i class="fa-solid fa-pump-soap" style="color: #5eb5ef"></i>
              <span class="count-numbers">{{ productsCounter }}</span>
              <span class="count-name">Prodotti </span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-counter info">
              <i class="fa fa-users" style="color: #6fcdcd"></i>
              <span class="count-numbers">{{ customersCounter }}</span>
              <span class="count-name">Clienti</span>
            </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-6">
          <div class="card" style="width: 100%; height: 290px;">
            <div class="card-header">                                              Tagli dipendenti

            </div>
            <div class="card-body">
              <div class="row ">
                <div class="col-sm-12"  style="margin-top: -8px;margin-bottom: 8px;font-weight: 600;">
                </div>
                <div class="col-sm-12">

              <canvas id="canvas1" style="width: 100%; height: 220px">{{
                chart1
              }}</canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card" style="width: 100%; height: 290px">
            
            <div class="card-header">                  Prodotti più venduti
            </div>
            <div class="card-body">
              <div class="row ">
                <div class="col-sm-12"  style="margin-top: -8px;margin-bottom: 8px;font-weight: 600;">

                </div>
                <div class="col-sm-12">
              <canvas id="canvas2" style="width: 100%; height: 220px">{{
                chart2
              }}</canvas>
                </div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card" style="width: 100%; height: 290px">
            
            <div class="card-header">                  Servizi più venduti
            </div>
            <div class="card-body">
              <div class="row ">
                <div class="col-sm-12"  style="margin-top: -8px;margin-bottom: 8px;font-weight: 600;">

                </div>
                <div class="col-sm-12">
              <canvas id="canvas4" style="width: 100%; height: 220px">{{
                chart2
              }}</canvas>
                </div></div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card" style="width: 100%; height: 290px">
            
          <div class="card-header">                  Guadagni ultimi 30 giorni
          </div>
            <div class="card-body">
              <div class="row ">
                <div class="col-sm-12" style="margin-top: -8px;margin-bottom: 8px;font-weight: 600;">

                </div>
                <div class="row ">
                  <div class="col-sm-12">
              <canvas id="canvas3" style="width: 100%; height: 220px">{{
                chart2
              }}</canvas>
                  </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
