.section {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100vh; /* Imposta l'altezza della sezione al 100% della finestra */
}

.card{
  border-radius: 0px;
  font-size: 14px!important;
}
.card-header{
  background-color: #add7f6 !important;
  padding: 0px 0px 0px 20px;
  margin: -1px -1px 0px -1px;
  font-weight: normal;
}

/* contatori */

.card-counter {
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 1px;
  transition: .3s linear all;
  border-top: 1px solid #fff; /* Bordo superiore con colore celestino */

}


.card-counter:hover{
  box-shadow: 4px 4px 20px #0f0f0f;
  transition: .3s linear all;
}

.card-counter.primary{
  background-color: #fff;
  color: #000000;
}

.card-counter.danger{
  background-color: #fff;
  color: #000000;
}  

.card-counter.success{
  background-color: #fff;
  color: #000000;
}  

.card-counter.info{
  background-color: #fff;
  color: #000000;
}  

.card-counter i{
  font-size: 4em;
  opacity: 0.2;
}

.card-counter .count-numbers{
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.card-counter .count-name{
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}

.card {
  height: 100%; /* Imposta l'altezza della card al 100% della sezione */
  width: 100%;
  flex-grow: 1;
}

.card-body {
  height: 100%;
  overflow: auto;
}
