/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #c6e9f9;
}

.sc-primary {
  background-color: var(--primary-color);
  /* Altri stili del pulsante... */
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #c6e9f9;
}
