
<div class="row">
        <div class="col-md-7">
                
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <div class="btn-group custom-btn-group">
                <input type="radio" class="btn-check" name="options" id="radio1" autocomplete="off" checked>
                <label class="btn btn-outline-dark btn-lg btn-sm" for="radio1">Luoghi</label>
                                                            
                <input type="radio" class="btn-check" name="options" id="radio2" autocomplete="off">
                <label class="btn btn-outline-dark btn-lg btn-sm" for="radio2">Eventi</label>
              </div>
            </div>
                            
            <div class="col-md-12">
              <div class="full" id="map"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4" >
          <div class="card-container"></div>
        </div>
         
      </div>
      